.profile-page-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    /* width: 55%; */
    width: 900px;
    margin: 0 auto;
    /* border-radius: 25px; */
    /* padding: 15px; */
    /* padding-top: 0px; */
    /* box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3); */
    margin-bottom: 30px;
    color: white;
}
.profile-header{
    height: 230px;
    grid-template-columns: 1fr 2fr;
    /* background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); */
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: grid;
    grid-gap: 15px;
    width: 100%;
  align-items: center;
}
.profile-profile-picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-username-and-follow-btn{
    background-color: rgba(255, 255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-info{
  display: flex;
  flex-direction: column;
  align-items:flex-start;

}
.profile-pff{
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 25px;
    cursor: pointer;
}
.underline:hover{
    text-decoration: underline;
}
.show-followings-container{
    z-index: 20;
    cursor: default;
    position: absolute;
    top: 30px;
    left: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(25, 25, 25);

    width: 300px;
}
#profile-username{
    font-size: 35px;
    font-weight: 200;
    margin-right: 25px;
}
#profile-numbers{
    font-weight: 600;
    font-size: 17px;
}
.profile-attributes{
    margin-left: 5px;
    font-size: 16px;
}
.profile-profile-picture{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  transition: all 300ms;

}
.profile-followers-posts-info{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 25px;
    width: 80%;
  transition: all 300ms;

}
.profile-follow-button{
    border: none;
    background-color: rgb(46, 161, 255);
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.profile-follow-button:hover{
    background-color:rgb(0, 140, 255);
}
.profile-unfollow-button{
    border: 1px solid rgb(255, 255, 255) ;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.profile-unfollow-button:hover{
    background-color: rgb(25, 25, 25);

}
.profile-settings-btn{
    width: 25px;
    cursor: pointer;
    filter: invert(100%);
}
.profile-settings-container:hover{
    background-color: rgb(25, 25, 25);

}
.profile-settings-container{
    color: white;
    display: flex;
    font-weight: 600;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255) ;

}
.sm-back-arrow-followers{
display: none;
}

/*GALERIE*/
.profile-gallerie{
    min-height: 200px;
    background-color: rgb(25, 25, 25);

    /* padding: 15px; */
/* 

    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); */
    /* background-color: white; */
    /* border-radius: 20px; */
    width: 100%;
    position: relative;
    /* border-radius: 25px; */
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
    grid-gap: 15px;

/*  display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; */
    transition: all 300ms;

}
.article-profile-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-square-photo{
    border-radius: 3px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;

}
.profile-no-posts-container{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* 
#profile-hr{
    margin-bottom: 28px;
    height: 1px;
    background-color: rgb(199, 199, 199);
    border: none;
} */


/*MEDIA*/
@media screen and (max-width: 940px){
    .profile-page-container{
        width: calc(100% - 40px);
    }
    .profile-header{
        grid-gap: 7px;
    }
    .profile-gallerie{
        grid-gap: 7px;
    }
    .profile-profile-picture{
        width: 130px;
        height: 130px;
    }
}


/* @media screen and (max-width: 600px){
    .profile-gallerie{
        grid-gap: 3px;
    }
    .profile-profile-picture{
        width: 110px;
        height: 110px;
    }
} */
@media screen and (max-width: 700px){
    .profile-page-container{
        width: 100%;
    }
    /*HEADER*/
    .profile-header{
        padding: 30px 0px;
        height: auto;
        width: 100%;
        grid-gap: 1px;
    }
    .profile-profile-picture{
        height: 100px;
        width: 100px;
    }
    #profile-username{
        font-size: 26px;
        margin-right: 0;
    }
    .profile-settings-container{
        font-size: 15px;
    }
    .profile-username-and-follow-btn{
        width: 100%;
        justify-content: space-evenly;
    }
    .profile-followers-posts-info{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, minmax(1rem, 1fr));
        grid-gap: 20px;
        margin-top: 10px;
    }
    .profile-pff{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        height: auto;
    }
    .profile-attributes{
        margin-left: 0;
        font-size: 13px;
    }
    /*GALLERIE*/
    .profile-gallerie{
        grid-gap: 1px;
    }
    .profile-square-photo{
        border-radius: 0;
    }
    /* FOLLOWINGS AND FOLLOWERS PAGES */
    .show-followings-container{
        position: fixed;
        z-index: 99;
        top: 60px;
        border-radius: 0;
        width:calc(100% - 20px);
        height: calc(100% - 120px);
        /* height: 500px; */
        overflow-y: scroll;
        padding: 0 10px;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: translateX(100%);
        transition: all 400ms ease;
    }
    .back-arrow-header{
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        font-size: 17px;
    }
    .sm-back-arrow-followers{
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        cursor: pointer;    
        height: 25px;
        width: 25px;
        transform: rotate(90deg) translateX(-50%);
    }
}